* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.load-dost {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 10000;
  justify-content: center;
  gap: 30px;

}

.box {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 30px;
}

@font-face {
  font-family: europa;
  src: url(Actor-Regular.ttf);

}

@font-face {
  font-family: eurostile;
  src: url(eurostile/eurostile.TTF);

}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;

}

::selection {
  background-color: #84bdfa;
  color: #333333;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.nav-main {
  display: flex;
  padding-top: 10px;
}

.logo {
  width: 50%;
  top: 0;
}

.logo img {
  width: 35%;
  padding-top: 25px;
  padding-left: 40px;
}

.say-hello {
  width: 50%;
  margin-top: 30px;
  margin-right: 75px;
}

.say-hello a {
  right: 0;
  float: right;
  font-family: europa;
}

.Hello {
  padding: 10px 20px 10px 20px;
  border: 2px solid #6E07F3;
  border-radius: 25px;
  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #6E07F3;
  transition: all .2s;
}

.Hello:hover {
  color: white;
  background-color: #6E07F3;
}

.Mentorship:hover {
  color: #6E07F3;

}

.Mentorship {
  padding: 10px 13px 10px 13px;
  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #141c3a;
  margin-right: 10px;
}

.nav-home {
  text-align: center;
  padding-top: 6rem;

}

.nav-h {
  font-size: 54px;
  color: #141c3a;
  font-weight: 900;
  margin-bottom: 1.5rem;
  font-family: eurostile;
}

.nav-p {
  font-family: europa;
  color: #141c3a;
  font-size: 24px;
  margin-bottom: 2.5rem;
}

.nav-img {
  width: 60%;
  margin-left: 18.5rem;
  margin-top: 5.5rem;
}

.Nice {
  background-color: #6E07F3;
  text-align: center;
  padding-top: 9.5rem;
  padding-bottom: 19.5rem;
}

.Nice h1 {
  font-size: 32px;
  font-family: eurostile;
  color: white;
  margin-bottom: 1.5rem;
  font-weight: 800;
}

.Nice h2 {
  font-size: 22px;
  line-height: 1.5;
  font-family: europa;
  color: white;
  font-weight: 400 !important;
}

.box-line {
  margin-top: -14rem;
  padding-bottom: 1rem;
margin-bottom: 80px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 17px;
  height: 358px;
 
}

.box-card {
  display: flex;
  justify-content: space-between;
}

.column {
  border: 1.5px solid #E6ECF8;
  background-color: white;
  height:358px;
  border-radius: 17px;
  padding: 70px 45px;
  width: 28%;
  text-align: center;

}

.column span i {
  font-size: 36px;

}

.column span {
  background-color: #5BE9B9 !important;
  padding: 40px 22px 22px 22px;

  border-radius: 100%;
}

.column h1 {
  font-size: 24px;
  font-family: eurostile;
  margin-top: 50px;
  margin-bottom: 8px;
}

.column p {
  font-size: 18px;
  font-family: europa;

  line-height: 30px;
}

.column-h {
  color: #6E07F3 !important;
  font-size: 18px;
  font-family: europa;
  margin-top: 50px;
  margin-bottom: 8px;
}
.tar{
  height: 60px;
}
.about-me {
text-align: center;
}
.about-me span {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: eurostile;
}
.about-me p {
  font-size: 18px;
  font-family: europa;
  margin-right: 37rem;
  margin-left: 36rem;
  line-height: 30px;
}
.mee{
display: flex;
justify-content: center;
}
.mee p{
  margin: 20px 0px 10px 0px;
  padding: 2px 35px 4px 14px;
  background-color: #6E07F3;
  width: 2%;

  border-radius: 40px;
}
.get-to{
  display: flex;
  margin-top: 9rem;
  margin-bottom: 9rem;
}
.get{
  width: 29.5%;
  margin-left: 20rem;
}
.get h3{
  font-size: 24px;
  font-weight: 600;
  font-family: eurostile;
  margin-bottom: 35px;
}
.get p{
  font-size: 18px;
  font-family: europa;
  margin-bottom: 13px;
  line-height: 30px;
  color: #666;
}
.con{
  background: #7843E9;
    color: #fff;
    padding: 16px 50px 16px 50px;
    text-decoration: none;
    font-size: 16px;
    font-family: europa;
    border-radius: 35px;
    font-weight: 700;
    top: 40px;
    position: relative;
}
.con:hover{
background-color: white;
border: 1.5px solid  #7843E9;
color:  #7843E9;
transition: all .2s;
}

.dark{
  font-weight: 600;
  color: #1b1b1b;
}
.light{
  text-decoration: underline;
  font-weight: 700;
  color:  #6E07F3;
  margin: 0 3px;
}
.my-skills{
  width: 50%;
  margin-left: 10rem;

}
.my h3{
  font-size: 24px;
  font-weight: 600;
  font-family: eurostile;
  margin-bottom: 35px;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.skill{
  padding: 10px 20px;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 18px;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    font-family: eurostile;
    color: #666;
}
.work {
  text-align: center;
 
}

.work h1 {
  font-family: eurostile;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 22px;
}

.work h2 {
  font-family: europa;
  font-size: 20px;
  font-weight: 300;
}

.email {
  color: #1a8cff;
  text-decoration: none;
  cursor: pointer
}

.Recent-Work {
  display: flex; 
  margin-top: 110px;
  width: 100%;
  justify-content: center;
}
.r-w{  
  width: 25%;
  height: auto;
  margin-left: 60px;
  justify-content: center;   
  position: relative;
}
.r-w img{
width: 86%;
 }

.mob {
  border-radius: 25px;

z-index: 99;
}
.mob:hover{
  z-index: 1;
}
.mob-s{
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 86%;
  opacity: 0;
  transition: .5s ease;
  background-color: #141c3a;
   padding: 56px 40px 72px 36px;
  border-radius: 25px;
  text-align: center;
}
.mob-s h1{
  font-family: eurostile;
  color: #ffffff;
  margin-bottom: 1.8rem;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.25rem;
}
.mob-s a{
  font-family: europa;
  text-decoration: none ;
      margin: 0 auto;
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
  border: 2px solid #6E07F3;
  border-radius: 25px;
  transition: all .2s;
}
.mob-s a i{
  position: relative;
  top: 5px;

}
.r-w:hover .mob-s {
  opacity: 1;
}
.mob-s a:hover {
  background-color: #6E07F3;
}
.more{
  text-align: center;
  padding-top: 120px;

}
.see {
  font-family: europa;
  padding: 10px 20px 10px 20px;
  border: 2px solid #6E07F3;
  border-radius: 25px;
  border-width: 2px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #6E07F3;
  transition: all .2s;
}

.see:hover {
  color: white;
  background-color: #6E07F3;
}
.Testimonials {
  text-align: center;
}

.Testimonials h1 {
  font-family: eurostile;
  font-size: 32px;
  padding-top: 130px;
  font-weight: 700;
  padding-bottom: 22px;
}

.Testimonials h2 {
  font-family: europa;
  font-size: 20px;
  font-weight: 300;
}


.Testimonials-card img{
  width: 35%;
  margin-top: 90px;
  border-radius: 50%;
  height: auto;
}

.Testimonials-card p {
  font-family: eurostile;
  font-size: 26px;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 22px;
}

.Testimonials-card h1 {
  font-family: eurostile;
  font-size: 20px;
  padding-top: 20px;
  font-weight: 700;
  padding-bottom: 12px;
}

.Testimonials-card h2 {
  font-family: europa;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 12px;
  margin-bottom: 55px;
}

.end {
  background-color: #6E07F3;
  text-align: center;
  padding-top: 9.5rem;
  margin-top: 9.5rem;
  padding-bottom: 7.5rem;
}

.Start-a-project {
  margin-top: -15rem;
  background-color: #141c3a;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
  padding: 3.5rem 1.25rem;
  width: 92%;
  border-radius: 16px;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
}

.Start-a-project h1 {
  font-family: eurostile;
  font-size: 32px;
  color: #ffffff;
  margin-top: 25px;

}

.Start-a-project p {
  font-family: europa;
  font-size: 18px;
  color: #ffffff;
  margin-top: 25px;

}

.Start-a-project a {
  font-family: europa;
  font-size: 20px;
  color: #ffffff;
  margin-top: 25px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border: 2px solid #5BE9B9;
  border-radius: 25px;
  border-width: 2px;
  transition: all .2s;
}

.Start-a-project a:hover {
  color: #141c3a;
  background-color: #5BE9B9;
}

.end-logo img {
  width: 15%;  
  border-radius: 25px;

 
}

.end-logo h1 {
  font-family: eurostile;
  font-size: 22px;
  color: #ffffff;
  margin-top: 5px;
  opacity: 95%;
}

.end span {
  font-family: europa;
  font-size: 18px;
  color: #ffffff;
  opacity: 95%;
}

.social-icons i {
  color: white;
  margin-top: 60px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  border-width: 2px;
  font-size: 20px;
  margin-left: 30px;
  transition: all .2s;
  margin-bottom: 40px;
}

.social-icons i:hover {
  color: #6E07F3;
  background-color: white;
}



/*hello*/
/*hello*/
/*hello*/

.say-hello-{
  width: 50%;
  display: flex;
  float: right;
  flex-direction: row-reverse;
  margin-top: 45px;
  
}

.button {
  font-size: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

.nav-imgg {
  margin-top: -55px;
  width: 6%;
}

.lines {
  display: flex;
}

.line {
  width: 47%;
  height: 0px;
  border: 1px solid #ebebeb;
}

.thanks h1 {
  color: #141c3a;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: eurostile;
}

.input-c {
  width: 100%;

}

.input {
  display: flex;
  justify-content: center;
}

.inputt {
  display: flex;
  justify-content: center;
}


.label {
  font-weight: 400;
  font-family: eurostile;
  font-size: 1.2rem;
  color: rgba(41, 51, 71, 0.65);
}

.input .is-large {
  width: 100%;
  padding: 10px 10px 20px;
  border: 0.5px solid #E6ECF8;
  margin-top: 13px;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.inputt .is-largee {
  width: 279%;
  font-family: eurostile;
  padding:10px 10px 15px;
  border: 0.5px solid #E6ECF8;
  margin-top: 13px;
  height: 250px;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.input-m {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

}

.input-p {
  display: flex;
  flex-direction: column;
  margin-right: 412px;
}
.sub {
  display: flex;
  justify-content: center;
  margin: 20px 0 80px;
}
.sub button{
  text-decoration: none;
  font-family: europa;
  padding: 13px 65px 13px 65px;
  border: 2px solid #6E07F3;
  font-weight: 400;
  background-color: white;
  font-size: 20px;
  color: #6E07F3;
  border-radius: 35px;
  transition: all .2s;
}

.sub button:hover {
  color: white;
  background-color: #6E07F3;
}

.three-lines{
display: none;
}
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #6E07F3;
  border-radius: 5px;
  transition-duration: .3s;
}

#checkbox:checked + .toggle .bars {
  margin-left: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: rotate(135deg);
  margin-left: 0;
  transform-origin: center;
  transition-duration: .3s;
}

#checkbox:checked + .toggle #bar1 {
  transform: rotate(45deg);
  transition-duration: .3s;
  transform-origin: left center;
}

#checkbox:checked + .toggle #bar3 {
  transform: rotate(-45deg);
  transition-duration: .3s;
  transform-origin: left center;
}

.say-helloo{
  display: none;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}



.swiper-v {
  background: #eee;
}


@media only screen and (max-width: 2560px) {
  .nav-img {
    width: 70%;
  }
  .r-w{
    margin-left: 100px;
  }
  .Testimonials-card img{
    width: 29%;
    }
    .nav-imgg {
      margin-top: -92px;
    }
    .say-hello-{
      width: 50%;
      display: flex;
      float: right;
      flex-direction: row-reverse;
      margin-top: 45px;
      
    }
    .inputt .is-largee {
      width: 291%;
    }
    .mob-s {
      padding: 116px 89px 72px 89px;
    }  
    .my-skills {
      width: 50%;
      margin-left: 20rem;
  }
}




@media only screen and (max-width: 1440px) {
  .nav-img {
    width: 60%;
  }
 .r-w {
    margin-left: 30px;
  }
  .r-w img{
    width: 100%;
  }
  .Testimonials-card img{
    width: 23%;
    }
    .say-hello-{
      width: 50%;
      display: flex;
      float: right;
      flex-direction: row-reverse;
      margin-top: 20px;
    }
    .inputt .is-largee {
      width: 291%;
    }
    .mob-s {
      width: 100%;
      padding: 35px 40px 72px 36px;
    }
    .mob-s h1 {
      margin-bottom: 1.8rem;
    }
    .skills {
      display: flex;
      flex-wrap: wrap;
      width: 85%;
  }
  .get {
    width: 41.5%;
    margin-left: 15rem;
}
.about-me p {

  margin-right: 22rem;
  margin-left: 21rem;
}
}



@media only screen and (max-width: 1024px) {
  .logo img {
    width: 45%;}
 .r-w {
    margin-left: 4px;
    width: 31%;
  }
  .box-line {
    margin-left: 52px;
    margin-right: 52px;
  }
  .mob {
    width: 86%;
 height: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    
  }
  .mob-s{
    height: 100%;
    width: 86%;
    padding: 17px 40px 72px 36px;
    border-radius: 25px;
    margin-left: 20px;
    
  }
  
.mob-s h1{
  font-family: eurostile;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.25rem;
}
.mob-s a{
  font-family: europa;
  text-decoration: none ;
      margin: 0 auto;
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
  border: 2px solid #6E07F3;
  border-radius: 25px;
  transition: all .2s;
}
.mob-s a i{
  position: relative;
  top: 5px;

}
.Testimonials-card img{
width: 23%;
}

.nav-imgg {
  margin-top: -35px;
}


.say-hello-{
  width: 50%;
  display: flex;
  float: right;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.inputt .is-largee {
  width: 291%;
}
.column {
  margin-top: 20px;
  height: 400px;
  width: 31%;
 
}

.work{
  margin-top: 90px;
}
.about-me p {
  margin-right: 9rem;
  margin-left: 10rem;
}
.get {
  width: 53.5%;
  margin-left: 9rem;
}
.skills {
  width: 84%;
}
}



/*tab*/
/*tab*/
/*tab*/

@media only screen and (max-width: 768px) {
  .Recent-Work {
    display: block; 
  }
  .logo{
    width: 88%;
  }
  .logo img {
    width: 40%;
  }
  .say-hello{
    display: none;
  }
  .say-helloo{
    display: none;
    width: 50%;
    margin-top: 30px;
    margin-right: 75px;
    font-family: europa;
  }
  .say-helloo.visible {
    display: flex; /* Shown when the 'visible' class is added */
    flex-direction:  column-reverse;
   width: 100%;
   align-items: center;
  }
  .Mentorship {
  margin-left: 10px;
  }

  .nav-h {
    font-size: 35px;
  }
  .nav-p{
    font-size: 21px;
  }

 .three-lines{
  display: flex;
margin-top: 30px;

 }
  .nav-home img{
    width: 20%;
  }
  .nav-img{
    width: 97%;
    margin-left: 10px;
  }
  .Nice h1 {
    font-size: 30px;
  }
  .Nice h2 {
    font-size: 19px;
  }
  .box-line {
    margin-top: -14rem;
    padding-bottom: 1rem;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 17px;
    height: auto;
    background-color: white;
  }
  .box-card {
    display: block;
  }
  .column {
 
    height: auto;
    padding: 70px 120px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  
  }

  .work h2{
    font-size: 20px;
  }


  .r-w{  
   width: 90%;
  }
  .r-w img{
    width: 90%;
  }
  .mob {
    width: 80%;

    margin-left: 20px;
    margin-bottom: 20px;
    
  }
  .mob-s{
    height: 94.7%;
    width: 90%;
    padding: 128px 84px;
    border-radius: 25px;
    margin-left: 20px;
    
  }
  
.mob-s h1{
  font-family: eurostile;
  color: #ffffff;
  margin-bottom: 2.8rem;
  font-weight: 500;
  line-height: 30px;
  font-size: 1.25rem;
}
.mob-s a{
  font-family: europa;
  text-decoration: none ;
      margin: 0 auto;
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
  border: 2px solid #6E07F3;
  border-radius: 25px;
  transition: all .2s;
}
.mob-s a i{
  position: relative;
  top: 5px;

}
.Testimonials-card img {
  width: 17%;
}
.Testimonials-card p {
  font-size: 21px;
}
.Start-a-project {
  display: block;
  padding: 3.5rem 0.25rem;
  width: 87%;
}
.Start-a-project p{
margin-bottom: 25px;
}
.end-logo img {
  width: 27%;
}




.nav-imgg {
  margin-top: -25px;
}
.thanks h1 {
  font-size: 36px;
}
.say-hello-{
  display: flex;
  float: right;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.inputt .is-largee {
  width: 291%;
}

.about-me p {
  margin-right: 9rem;
  margin-left: 9rem;
}
.get {
  width: 68.5%;
  margin-left: 6rem;
}
.skills {
  width: 100%;
}
.get-to {
  flex-direction: column;
}
.my-skills {
  width: 80%;
  margin-left: 6rem;
  margin-top: 6rem;
}
}





@media only screen and (max-width: 425px) {
  .Recent-Work {
    display: block; 
  }
  .logo{
    width: 88%;
  }
  .logo img {
    width: 60%;
  }
  .say-hello{
    display: none;
  }
  .say-helloo{
    display: none;
    width: 50%;
    margin-top: 30px;
    margin-right: 75px;
    font-family: europa;
  }
  .say-helloo.visible {
    display: flex; /* Shown when the 'visible' class is added */
    flex-direction:  column-reverse;
   width: 100%;
   align-items: center;
  }
  .Mentorship {
  margin-left: 10px;
  }

  .nav-h {
    font-size: 35px;
  }
  .nav-p{
    font-size: 24px;
  }

 .three-lines{
  display: flex;
margin-top: 30px;
margin-right: 22px;

 }
  .nav-home img{
    width: 35%;
  }
  .nav-img{
    width: 97%;
    margin-left: 10px;
  }
  .Nice h1 {
    font-size: 38px;
  }
  .Nice h2 {
    font-size: 20px;
  }
  .box-line {
    margin-top: -14rem;
    padding-bottom: 1rem;
    margin-left: 21px;
    margin-right: 21px;
    border-radius: 17px;
    height: auto;
    background-color: white;
  }


  .work h2{
    font-size: 22px;
  }
  .box-card {
    display: block;
  }
  .column {
  margin-bottom: 40px;
    height: auto;
    padding: 70px 45px;
    width: 100%;
    text-align: center;
  
  }



  .r-w{  
    margin-left: 20px;
    width: 90%;
  }
  .r-w img{
    width: 90%;

  }
  .mob {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    
  }
  .mob-s{
    height: 91%;
    width: 90%;
    padding: 36px 40px 72px 36px;
    border-radius: 25px;
    margin-left: 20px;
    
  }
  
.mob-s h1{
  font-family: eurostile;
  color: #ffffff;
  margin-bottom: 2.8rem;
  font-weight: 500;
  line-height: 25px;
  font-size: 1.25rem;
}
.mob-s a{
  font-family: europa;
  text-decoration: none ;
      margin: 0 auto;
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
  border: 2px solid #6E07F3;
  border-radius: 25px;
  transition: all .2s;
}
.mob-s a i{
  position: relative;
  top: 5px;

}
.Testimonials-card img {
  width: 27%;
}
.Testimonials-card p {
  font-size: 27px;
  font-weight: 400;
}
.Start-a-project {
  display: block;
  padding: 4.5rem 3.25rem;
  width: 90%;
  margin-left: 18px;
}
.Start-a-project p{
margin-bottom: 25px;
}
.social-icons i {
  margin-left: 16px;
}
.end-logo img {
  width: 50%;
}



/*say hello*/

.logo {
  margin-bottom: 30px;
}
.nav-imgg {
  margin-top: -30px;
  width: 15%;
}
.thanks h1 {
  font-size: 40px;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.inputt {
  margin-left: 90px;
}
.inputt .is-largee {
  width: 400%;
  padding: 16px 10px 68px 11px;
}

.say-hello-{
  display: flex;
  float: right;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.input-p {
  display: flex;
  flex-direction: column;
  margin-right: 331px;
}

.about-me p {
  margin-right: 2rem;
  margin-left: 2rem;
}
.get {
  width: 79.5%;
  margin-left: 3rem;
}
.get-to {
  margin-top: 7rem;
}
.skills {
  width: 100%;
}
.get-to {
  flex-direction: column;
}
.my-skills {
  width: 86%;
  margin-left: 3rem;
  margin-top: 6rem;
}
}





@media only screen and (max-width: 375px) {
  .Recent-Work {
    display: block; 
  }
  .logo{
    width: 88%;
  }
  .logo img {
    width: 68%;
    margin-left: 22px;
  }
  .say-hello{
    display: none;
  }
  .say-helloo{
    display: none;
    width: 50%;
    margin-top: 30px;
    margin-right: 75px;
    font-family: europa;
  }
  .say-helloo.visible {
    display: flex; /* Shown when the 'visible' class is added */
    flex-direction:  column-reverse;
   width: 100%;
   align-items: center;
  }
  .Mentorship {
  margin-left: 10px;
  }

  .nav-h {
    font-size: 35px;
  }
  .nav-p{
    font-size: 21px;
  }

 .three-lines{
  display: flex;
margin-top: 30px;
margin-right: 22px;

 }
  .nav-home img{
    width: 35%;
  }
  .nav-img{
    width: 97%;
    margin-left: 10px;
  }
  .Nice h1 {
    font-size: 38px;
  }
  .Nice h2 {
    font-size: 24px;
    padding: 0 10px;
  }
  .box-line {
    margin-top: -14rem;
    padding-bottom: 1rem;
    margin-left: 21px;
    margin-right: 21px;
    border-radius: 17px;
    height: auto;
    background-color: white;
  }


  .work h2{
    font-size: 19px;
  }
  .box-card {
    display: block;
  }
  .column {
  margin-bottom: 40px;
    height: auto;
    padding: 70px 45px;
    width: 100%;
    text-align: center;
  
  }



  .r-w{  
    margin-left: 20px;
    width: 90%;
  }
  .r-w img{
    width: 90%;

  }
  .mob {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    
  }
  .mob-s{
    height: 90%;
    width: 90%;
    padding: 19px 40px 72px 36px;
    border-radius: 25px;
    margin-left: 20px;
    
  }
  
  
.mob-s h1{
  font-family: eurostile;
  color: #ffffff;
  margin-bottom: 1.8rem;
  font-weight: 500;
  line-height: 25px;
  font-size: 1.25rem;
}
.mob-s a{
  font-family: europa;
  text-decoration: none ;
      margin: 0 auto;
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
  border: 2px solid #6E07F3;
  border-radius: 25px;
  transition: all .2s;
}
.mob-s a i{
  position: relative;
  top: 5px;

}
.Testimonials h2 {
  font-size: 17px;
}
.Testimonials-card img {
  width: 27%;
}
.Testimonials-card p {
  font-size: 31px;
  font-weight: 400;
}
.Start-a-project {
  display: block;
  padding: 4.5rem 3.25rem;
  width: 90%;
  margin-left: 18px;
}
.Start-a-project p{
margin-bottom: 25px;
}
.social-icons i {
  margin-left: 11px;
}
.end-logo img {
  width: 50%;
}




/*say hello*/

.logo {
  margin-bottom: 30px;
}
.logo img {
  padding-left: 17px;
}
.nav-imgg {
  margin-top: -30px;
  width: 15%;
}
.thanks h1 {
  font-size: 40px;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.inputt {
  margin-left: 90px;
}
.inputt .is-largee {
  width: 400%;
  padding: 16px 10px 68px 11px;
}

.say-hello-{
  display: flex;
  float: right;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.input-p {
  display: flex;
  flex-direction: column;
  margin-right: 331px;
}

.about-me p {
  margin-right: 2rem;
  margin-left: 2rem;
}
.get {
  width: 79.5%;
  margin-left: 2rem;
}
.get-to {
  margin-top: 7rem;
}
.skills {
  width: 100%;
}
.get-to {
  flex-direction: column;
}
.my-skills {
  width: 86%;
  margin-left: 2rem;
  margin-top: 6rem;
}
}


@media only screen and (max-width: 320px) {
  .Recent-Work {
    display: block; 
  }
  .logo{
    width: 88%;
  }
  .logo img {
    width: 85%;
  }
  .say-hello{
    display: none;
  }
  .say-helloo{
    display: none;
    width: 50%;
    margin-top: 30px;
    margin-right: 75px;
    font-family: europa;
  }
  .say-helloo.visible {
    display: flex; /* Shown when the 'visible' class is added */
    flex-direction:  column-reverse;
   width: 100%;
   align-items: center;
  }
  .Mentorship {
  margin-left: 10px;
  }

  .nav-h {
    font-size: 33px;
  }
  .nav-p{
    font-size: 19px;
  }

 .three-lines{
  display: flex;
  margin-top: 22px;
  margin-left: 54px;

 }
  .nav-home img{
    width: 35%;
  }
  .nav-img{
    width: 97%;
    margin-left: 10px;
  }
  .Nice h1 {
    font-size: 36px;
  }
  .Nice h2 {
    font-size: 22px;
    padding: 0 10px;
  }
  .box-line {
    margin-top: -14rem;
    padding-bottom: 1rem;
    margin-left: 21px;
    margin-right: 21px;
    border-radius: 17px;
    height: auto;
    background-color: white;
  }


  .work h2{
    font-size: 16px;
    padding: 0 10px;
  }
  .box-card {
    display: block;
  }
  .column {
  margin-bottom: 40px;
    height: auto;
    padding: 70px 45px;
    width: 100%;
    text-align: center;
  
  }



  .r-w{  
    margin-left: 10px;
    width: 90%;
  }
  .r-w img{
    width: 90%;

  }
  .mob {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    
  }
  .mob-s{
    height: 88%;
    width: 90%;
    padding: 10px 40px 72px 36px;
    border-radius: 25px;
    margin-left: 20px;
    
  }
.mob-s h1{
  font-family: eurostile;
  color: #ffffff;
  margin-bottom: 0.8rem;
  font-weight: 500;
  line-height: 25px;
  font-size: 1.25rem;
}
.mob-s a{
  font-family: europa;
  text-decoration: none ;
      margin: 0 auto;
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
  border: 2px solid #6E07F3;
  border-radius: 25px;
  transition: all .2s;
}
.mob-s a i{
  position: relative;
  top: 5px;

}
.Testimonials-card img {
  width: 27%;
}
.Testimonials-card p {
  font-size: 26px;
  font-weight: 400;
}
.Start-a-project {
  display: block;
  padding: 2.5rem 1.25rem;
  width: 89%;
  margin-left: 18px;
}
.Start-a-project p{
margin-bottom: 25px;
}
.end-logo img {
  width: 50%;
}
.social-icons i {
  margin-left: 6px;
}
.end span {
  font-size: 16px;
}




/*say hello*/

.logo {
  margin-bottom: 30px;
  width: 60%;
}
.logo img {
  padding-left: 14px;
}
.nav-imgg {
  margin-top: -30px;
  width: 15%;
}
.thanks h1 {
  font-size: 33px;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.input-m{
margin-right: 0px;
}
.inputt {
  margin-left: 90px;
}
.input-p {
  margin-right: 307px;
}
.inputt .is-largee {
  width: 400%;
  padding: 16px 10px 68px 11px;
}

.say-hello-{
  display: flex;
  float: right;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-left: 28px;
}

.about-me p {
  margin-right: 2rem;
  margin-left: 2rem;
}
.get {
  width: 79.5%;
  margin-left: 2rem;
}
.get-to {
  margin-top: 7rem;
}
.skills {
  width: 100%;
}
.get-to {
  flex-direction: column;
}
.my-skills {
  width: 86%;
  margin-left: 2rem;
  margin-top: 6rem;
}
}
