  * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #dddddd;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

::selection {
  background-color: rgb(48, 48, 48);
  color: white;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}
.row-1{
  display: flex;
  flex-wrap: nowrap;
}


.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.nav {
  background-image: url("../img/home-banner-free-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 750px;
}

.nav::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.4;
  background-color: rgb(66, 66, 66);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  text-align: center;
  font-size: 100px;
}

.nav-b {
  text-align: center;
}

.nav ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

.nav-b ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 900;
  font-family: "muli", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2b2b2b;
  width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;

}

.dropdown-content li a {
  color: #2b2b2b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-b ul li a i {
  font-size: 20px;

}

.nav-h {
  text-align: center;
  color: white;
  margin-top: 100px;
}

.nav-h h2 {
  font-size: 75px;
}

.nav-h p {
  font-size: 22.5px;
  padding-bottom: 100px;
  font-family: muli;
}
.nav-oneee{
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-a a {
  float: right;
  letter-spacing: 1px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  padding: 17px 34px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-a a:hover {
  color: white;
  background-color: black;
}

.nav-a-one a {
  margin-left: 20px;
  padding: 17px 34px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: white;
  border: solid 2px white;
  letter-spacing: 1px;
  text-decoration: none;
  float: left;
}

.nav-a-one a:hover {
  color: #0e0e0e;
  border: solid 2px #0e0e0e;
}

.h-zero {
  padding: 30px;
  margin-bottom: 120px;
}

.h-one {
  width: 100%;
  height: 200px;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 70px -15px rgba(0, 0, 0, 0.65);
  margin: -110px 0 0 4px;
  z-index: 2;
  position: absolute;
}

.h-one h2 {
  padding-top: 40px;
  color: #2b2b2b;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  padding-bottom: 20px;
  font-weight: 800;
}

.h-one p {
  color: #2b2b2b;
  font-size: 15px;
  font-family: "muli", sans-serif;
  font-weight: 550;
}

.container {
  position: relative;
  --size-button: 40px;
  color: white;
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #000000;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #ffffff;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 5px;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus+.icon,
.input:not(:invalid)+.icon {
  pointer-events: all;
  cursor: pointer;
  opacity: 0;

}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 120px;
  left: 873px;
  padding: 8px;
  pointer-events: none;
  color: #000000;
}

.container .icon svg {
  width: 100%;
  height: 100%;
}

.icon::after {
  opacity: 0;
}






/* MAIN  */




.element-big-bg {
  padding: 20px;
}

.main-big-img {
  background-color: white;
  line-height: 30px;
  position: relative;
  margin-bottom: 20px;
}

.date-box {
  background-color: #2b2b2b;
  color: white;
  width: 5.714285714em;
  height: 5.714285714em;
  padding: .7em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.month {
  font-family: "muli", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.date {
  font-size: 33px;
  font-weight: 600;
  padding-bottom: 4px;
  font-family: "muli", serif;

}

.date-box span {
  display: block;
  line-height: 23px;
}

.bg-img-content {
  padding: 10px;
  padding-left: 27px;
  color: #2b2b2b;
}

.bg-img-content h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 24px;

}

.main-big-img img {
  height: auto;
  width: 100%;
}

.main-big-img a {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 800;
  font-family: "muli", sans-serif;
  font-size: 12px;
}

.main-big-img p {
  line-height: 20px;
  padding: 10px 0;
  font-family: 14px;
  font-family: "muli", sans-serif;

}

.main-2 {
  display: flex;

}

.main-2-box {
  margin: 5px;
  flex: 50%;
}

.peg-box {
  display: flex;
  padding: 20px 0;
}

.peg-box a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 15px;
  border: solid 1px;
  padding: 8px 13px 8px 13px;

  font-family: "muli", sans-serif;

}

#active {
  background-color: #2b2b2b;
  color: white;
}

.peg a:hover {
  color: white;
  background-color: #2b2b2b;
}

.peg,
.next-page-button {
  width: 100%;
  text-align: right;
}

.next-page-button {
  margin-right: 51px;
}

.next-page-button a:hover {
  color: white;
  background-color: #2b2b2b;
}




#mySearch {
  padding: 21px 93px 21px 16px;

}

.in {
  padding: 26px 1px 26px 33px;
  position: relative;
}

.categories {
  padding: 42px 1px 42px 31px;

}

.in i {
  transform: translate(-50px, 20px);
  font-size: 21px;
  position: absolute;
  z-index: 4;
  color: black;

}

.categories h3 {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  color: #0e0e0e;
}

.categories a {
  display: block;
  margin-top: 8px;
  font-family: 'Muli', sans-serif;
  font-weight: 500;
  font-size: 14px;
}












.m-one {
  float: left;
  color: #2b2b2b;
  width: 50%;
}

.m-one h4 {
  padding: 10px 0 10px 20px;
  font-size: 25px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.m-one a {
  font-size: 12.75px;
  font-family: "muli", sans-serif;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 600;
  padding-left: 20px;
}

.m-one p {
  font-size: 16px;
  font-family: "muli", sans-serif;
  padding: 25px 0 25px 20px;
  font-weight: 550;
}

.time-two {
  background-color: #2b2b2b;
  color: white;
  width: 5.714285714em;
  height: 5.714285714em;
  padding: 0.7em;
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 0;
  z-index: 1;

}

.time-two h6 {
  font-size: 12px;
  font-family: "muli", sans-serif;
}

.time-two h5 {
  font-size: 37px;
  font-family: "muli", sans-serif;
}

.y-zero {

  margin-bottom: 45px;
  margin-left: 240px;
}


.y-zero ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 5px;
  padding-top: 60px;
}

.y-zero ul li a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 15px;
  border: solid 1px #2b2b2b;
  padding: 6px 10px;
  float: right;
  font-family: "muli", sans-serif
}

#active {
  background-color: #2b2b2b;
  color: white;

}

.id {

  float: right;
  padding-right: 63px;
}

.z-z {
  background-color: black;
  color: white;
  padding: 70px 0px 0px 33px;
  height: 480px;
  width: 100%;
}

.z-div{
  display: flex;
  justify-content: space-evenly;
}

.z-one p {
  padding-top: 45px;
  font-size: 17px;
  font-family: "muli", sans-serif;
}

.z-two h3 {
  margin-bottom: 22px;
  font-family: "Playfair Display", serif;
}

.z-three h3 {
  margin-bottom: 22px;
  font-family: "Playfair Display", serif;
}



.z-two a {

  font-style: inherit;
  display: block;
  text-decoration: none;
  color: white;
  font-family: "muli", sans-serif;
  margin-bottom: 14px;
}

.z-three a {

  font-style: inherit;
  display: block;
  text-decoration: none;
  color: white;
  font-family: "muli", sans-serif;
  margin-bottom: 14px;
}

.z-four h3 {
  padding-bottom: 18px;
}

.z-four img {
  height: 30%;
  width: 20%;
  border: solid 1px white;
  margin-left: 20px;
  margin-top: 7px;
  border-radius: 1px;

}

.z-five {
  float: left;
  font-family: "muli", sans-serif;
  margin-top: 100px;
}

.z-six {
  float: right;
  margin-top: 100px;
  margin-right: 37px;
  font-family: "muli", sans-serif;
}


/*africa*/




.africa {
  background-image: url("../img/african-wildlife-free-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}



.africa::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(66, 66, 66);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



.africa ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}




/*asia*/





.asia {
  background-image: url("../img/dubai-desert-safari-free-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}

.asia::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(66, 66, 66);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.asia ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


.part {
  float: left;
}


/*North America
*/



.north {
  background-image: url("../img/niagarafalls-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.north::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(66, 66, 66);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.north ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/*South America*/




.south {
  background-image: url("../img/rio-de-janero-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.south::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(66, 66, 66);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.south ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}



/*europe*/


.europe {
  background-image: url("../img/venice-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.europe::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(41, 41, 41);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.europe ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


/*about us*/



.about {
  background-image: url("../img/home-banner-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}

.about::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(41, 41, 41);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.about ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}
.text{
  
  width: 100%;
  
}

.text p {
  text-align: center;
  font-size: 15px;
  font-family: muli;
  color: #0e0e0e;
  line-height: 30px;
  padding-bottom: 60px;
  padding-top: 20px;
}

.about-main img {
  float: left;
  width: 35%;
  height: 60%;
  padding: 25px 0px 61px 30px;
  margin-right: 30px;
}

.about-main-1 {
float: left;
  color: #0e0e0e;
  
}

.about-main-1 h3 {
  font-size: 20px;
  padding-top: 110px;
  font-family: "Playfair Display", serif;
  padding-bottom: 30px;

}

.about-main-1 h4 {
  font-size: 20px;
  padding-bottom: 30px;
  font-family: "Playfair Display", serif;

}

.about-main-1 h2 {
  font-size: 40px;
  padding-bottom: 25px;
  font-family: "Playfair Display", serif;
  font-weight: 1000;

}

.about-main-1 p {
  font-size: 14px;
  font-family: "muli", serif;
  text-align: left;
  line-height: 30px;
  padding-bottom: 40px;

}
.about-main-1 a{
  font-size: 15px;
  font-weight: 600;
  font-family: "muli", serif;
  background-color: #444444;
  color: white;
  text-decoration: none;
 padding: 15px 28px 15px 28px; 
 transition: all .3s;
  }

.about-main-1 a:hover{
  background-color: #0e0e0e;
  
 }

.bg-mi{
 background-image: url("../img/jess-free-img.jpg.jpg") ;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 z-index: 1;
 height: 800px;
 width: 100%;
 margin-bottom: 40px;

}

.bg-mi::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.text-1{
background-color: #ffffff;
color: #2b2b2b;
width: 40%;
margin: 108px 2px 0px 73px;
padding: 43px 10px 43px 40px;
  
}

.text-1 h3{
  font-family: "Playfair Display", serif;
  font-size: 20px;
}
.text-1 h2{
  padding-top: 20px;
  font-family: "Playfair Display", serif;
  font-size: 42px;
  padding-bottom: 20px;
}

.text-1 h4{
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.text-2{
  background-color: #ffffff;
color: #2b2b2b;
width: 48%;
margin: 0px 2px 0px 570px;
padding: 48px 10px 55px 34px;
}

.text-2 p{
font-size: 15px;
font-family: muli;
line-height: 30px;
padding-bottom: 44px;
font-weight: 500;
}
.text-2 a{
  font-size: 15px;
  font-weight: 600;
  font-family: "muli", serif;
  background-color: #444444;
  color: white;
  text-decoration: none;
 padding: 15px 28px 15px 28px; 
 transition: all .3s;
 
}
.text-2 a:hover{
  background-color: #0e0e0e;
  
  
 }

 .bg-end p {
  text-align: center;
  font-size: 15px;
  font-family: muli;
  color: #0e0e0e;
  padding-bottom: 60px;
  padding-top: 20px;
  padding-left: 224px;
  line-height: 30px;
  
}
.i-z{
  text-align: center;
  font-size: 50px;
  padding-bottom: 38px;
}

.fa-square-facebook{
color: #3b5998;;
}
.fa-square-twitter{
  color: #0693e3;
}
.fa-square-google-plus{
  color: #cf2e2e;
}





/*Contact Us*/


.contact {
  background-image: url("../img/blog-3-feature-free-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 500px;
  margin-bottom: 40px;
}


.contact::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.contact ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

.con{
  
  color: #2b2b2b;
  text-align: center;
 
}  
.con h2{
  padding-top: 20px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 42px;
  padding-bottom: 20px;
}

.con p{
  font-size: 15px;
  font-family: muli;
  line-height: 20px;
  padding-bottom: 44px;
  font-weight: 500;
  }
.con-1{
  color: #2b2b2b;
  text-align: center;
}

  .con-1 h2{
    padding-top: 20px;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    padding-bottom: 20px;
  }
  .con-2{
    color: #0e0e0e;
    font-family: muli;
    font-weight: 600;
    margin-left: 300px;
    padding-bottom: 90px;
    display: flex;
    

  }

.con-2 input{
  padding: 6px 450px 10px 10px;
  margin-top: 9px;
}
 
.your input{
  padding-bottom: 100px;
  margin-bottom: 30px;
}

.c-four a{
  font-size: 15px;
  font-weight: 600;
  font-family: "muli", serif;
  background-color: #444444;
  color: white;
  text-decoration: none;
 padding: 15px 28px 15px 28px; 
 transition: all .3s;
 
}
.c-four a:hover{
  background-color: #0e0e0e;
  
  
 }




 /*african wildlife*/



 
.main-big-imgg {
  background-color: white;
  line-height: 30px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 5px 170px 15px 170px; 
}


.aff-1{
  text-align: left;
  margin-left: 69px;
  color: #0e0e0e;
  margin-right: 79px;
  
}
.aff-1 a{
font-size: 13px;
font-family: muli;
font-weight: 600;
text-decoration: none;color: #0e0e0e;

}
.aff-1 p{
  font-size: 14px;
  font-family: muli;
  padding-bottom: 19px;

}
.aff-1 h4{
  font-size: 14px;
font-family: muli;
font-weight: 600;
padding-bottom: 15px;
}

.aff-1 img{
  width: 100%;
  float: left;
  padding-bottom: 10px;
  margin-right: 10px;
}
.aff-2 a{
  font-size: 20px;
  font-family: "Playfair Display", serif;
}
.aff-2 p{
  font-size: 15px;
  font-family: muli;
  margin-left: 129px;
}
.aff-2 img{
  width: 15%;
  border-radius: 100%;
}
.p-p{
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-p a{
text-decoration: none;
font-family: muli;
font-size: 15px;
margin-left: 240px;
color: #2b2b2b;


}

.input-1{
  color: #2b2b2b;
  text-align: left;
  margin-left: 90px;
}
.input-1 h3{
font-size: 24px;
font-family: "Playfair Display", serif;

}
.input-1 p {
  font-size: 15px;
  font-family: muli;
  padding-bottom: 20px;
}

.is-largee {
  font-family: muli;
  width: 79%;
  color: #5f5e5e;
  padding: 10px 10px 185px;
  border: 0.5px solid #a3a3a3;
  margin-top: 13px;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.yourr-1{
  margin-top: 20px;
  
}
.yourr-1 input{
  padding: 9px 40px 10px 16px;
  border-style: dotted;
  border-width: 1px;
  margin-right: 10px;
}
.POST{
  text-align: left;
  margin-left: 90px;
  margin-top: 40px;

}
.POST a{
background-color: #2b2b2b;
color: white;
text-decoration: none;
font-family: muli;
padding: 15px 10px;
border-radius: 2px;
line-height: 1.85714285714286;
border: 0;


}


/*Great Pyramids of Giza*/




.Great-Pyramids-of-Giza {
  background-image: url("../img/pyramid-giza-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Great-Pyramids-of-Giza::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Great-Pyramids-of-Giza ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


/*Desert Safari */


.Desert-Safari  {
  background-image: url("../img/dubai-desert-safari-free-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Desert-Safari::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Desert-Safari  ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* A day on the mountains */



.a-day  {
  background-image: url("../img/home-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.a-day::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.a-day ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* Christ The Savior */




.Christ  {
  background-image: url("../img/rio-de-janero-free-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Christ::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Christ ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


/* The City on Water */






.water {
  background-image: url("../img/venice-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.water::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.water ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


/* Mysteries of Vatican City */





.Mysteries {
  background-image: url("../img/vatican-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Mysteries::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Mysteries ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


/* Spanish City */




.Spanish-City  {
  background-image: url("../img/spain-city-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Spanish-City::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Spanish-City  ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* Legends of Machu */



.Peru{
  background-image: url("../img/machu-pichu-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Peru::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Peru ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* African-Desert*/




.African-Desert{
  background-image: url("../img/africa-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.African-Desert::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.African-Desert ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


/* Taj Mahal Taj Mahal */




.Taj-Mahal{
  background-image: url("../img/taj-mahal-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Taj-Mahal::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Taj-Mahal ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


/*  Niagara Falls */



.Niagara-Falls{
  background-image: url("../img/niagarafalls-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Niagara-Falls::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Niagara-Falls ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* Cathedral at Vladimir */



.Cathedral-at-Vladimir{
  background-image: url("../img/russian-cathedral-free-img-1-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Cathedral-at-Vladimir::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Cathedral-at-Vladimir ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* Fabulous Las Vegas */



.Fabulous-Las-Vegas{
  background-image: url("../img/las-vegas-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Fabulous-Las-Vegas::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Fabulous-Las-Vegas ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* Winter Palace */



.Winter-Palace{
  background-image: url("../img/winter-palace-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.Winter-Palace::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.Winter-Palace ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


/* may 2017 */





.may{
  background-image: url("../img/spain-city-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.may::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.may ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}


/* april */



.april {
  background-image: url("../img/machu-pichu-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.april::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.april ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}



/* February 2017 */

.February {
  background-image: url("../img/taj-mahal-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.February::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.February ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* November 2016 */

.November{
  background-image: url("../img/russian-cathedral-free-img-1-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.November::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.November ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* April 2016 */



.April{
  background-image: url("../img/las-vegas-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.April::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.April ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

/* October 2015 */



.October {
  background-image: url("../img/winter-palace-free-img-1024x576.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 700px;
  margin-bottom: 40px;
}


.October::after {
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0.6;
  background-color: rgb(20, 20, 20);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.October ul li {
  display: inline-block;
  margin-top: 12px;
  margin-left: 20px;
}

@media  screen and (max-width: 767px) {
 .nav{
  max-width: 100%;
 }

}

.three-lines{
  display: none;
}
.nav-bb{
  display: none;
}

.pp-p{
  float: right;
   margin-right: 240px;
}